In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
df = pd.read_csv("mercedes.csv")

In [6]:
df

,Name,Mileage,Rating,Review Count,Price
0,2021 Mercedes-Benz A-Class A 220 4MATIC,"29,636 mi.",3.9,"1,800","$30,900"
1,2022 Mercedes-Benz AMG SL 63 Base,"5,540 mi.",4.7,"1,239","$139,999"
2,2022 Mercedes-Benz AMG SL 63 Base,"4,890 mi.",4.7,"1,239","$132,999"
3,2020 Mercedes-Benz AMG E 53 Base 4MATIC,"29,746 mi.",4.8,752,"$58,587"
4,2021 Mercedes-Benz AMG GLS 63 Base 4MATIC,"32,631 mi.",5.0,"1,502","$95,990"
...,...,...,...,...,...
2424,2021 Mercedes-Benz E-Class E 450 4MATIC,"54,422 mi.",NaN,236,"$53,490"
2425,2022 Mercedes-Benz S-Class 4MATIC,"11,395 mi.",4.5,"1,334","$89,599"
2426,2021 Mercedes-Benz GLB 250 Base 4MATIC,"30,392 mi.",4.9,"2,375","$32,890"
2427,2023 Mercedes-Benz E-Class E 450 4MATIC,"3,413 mi.",4.8,"1,758","$53,983"
2428,2023 Mercedes-Benz GLA 250 Base,"6,336 mi.",4.5,"2,057","$46,035"

In [9]:
df.head(10)

,Name,Mileage,Rating,Review Count,Price
0,2021 Mercedes-Benz A-Class A 220 4MATIC,"29,636 mi.",3.9,"1,800","$30,900"
1,2022 Mercedes-Benz AMG SL 63 Base,"5,540 mi.",4.7,"1,239","$139,999"
2,2022 Mercedes-Benz AMG SL 63 Base,"4,890 mi.",4.7,"1,239","$132,999"
3,2020 Mercedes-Benz AMG E 53 Base 4MATIC,"29,746 mi.",4.8,752,"$58,587"
4,2021 Mercedes-Benz AMG GLS 63 Base 4MATIC,"32,631 mi.",5.0,"1,502","$95,990"
5,2022 Mercedes-Benz AMG E 53 Base 4MATIC,"3,573 mi.",4.7,"1,239","$74,999"
6,2022 Mercedes-Benz AMG SL 63 Base,"1,254 mi.",4.7,"1,239","$130,999"
7,2023 Mercedes-Benz GLE 350 Base 4MATIC,"23,071 mi.",3.2,98,"$55,995"
8,2021 Mercedes-Benz AMG GT C,"15,755 mi.",4.8,902,"$71,999"
9,2023 Mercedes-Benz AMG CLA 45 Base 4MATIC,"2,910 mi.",4.5,344,"$62,975"

In [7]:
df.columns

Index(['Name', 'Mileage', 'Rating', 'Review Count', 'Price'], dtype='object')

In [8]:
df.index

RangeIndex(start=0, stop=2429, step=1)

In [9]:
df["Name"]

0         2021 Mercedes-Benz A-Class A 220 4MATIC
1               2022 Mercedes-Benz AMG SL 63 Base
2               2022 Mercedes-Benz AMG SL 63 Base
3         2020 Mercedes-Benz AMG E 53 Base 4MATIC
4       2021 Mercedes-Benz AMG GLS 63 Base 4MATIC
                          ...
2424      2021 Mercedes-Benz E-Class E 450 4MATIC
2425            2022 Mercedes-Benz S-Class 4MATIC
2426       2021 Mercedes-Benz GLB 250 Base 4MATIC
2427      2023 Mercedes-Benz E-Class E 450 4MATIC
2428              2023 Mercedes-Benz GLA 250 Base
Name: Name, Length: 2429, dtype: object

In [10]:
df.Name

0         2021 Mercedes-Benz A-Class A 220 4MATIC
1               2022 Mercedes-Benz AMG SL 63 Base
2               2022 Mercedes-Benz AMG SL 63 Base
3         2020 Mercedes-Benz AMG E 53 Base 4MATIC
4       2021 Mercedes-Benz AMG GLS 63 Base 4MATIC
                          ...
2424      2021 Mercedes-Benz E-Class E 450 4MATIC
2425            2022 Mercedes-Benz S-Class 4MATIC
2426       2021 Mercedes-Benz GLB 250 Base 4MATIC
2427      2023 Mercedes-Benz E-Class E 450 4MATIC
2428              2023 Mercedes-Benz GLA 250 Base
Name: Name, Length: 2429, dtype: object

In [12]:
df[["Name","Price"]]

                                           Name      Price
0       2021 Mercedes-Benz A-Class A 220 4MATIC   $30,900
1             2022 Mercedes-Benz AMG SL 63 Base  $139,999
2             2022 Mercedes-Benz AMG SL 63 Base  $132,999
3       2020 Mercedes-Benz AMG E 53 Base 4MATIC   $58,587
4     2021 Mercedes-Benz AMG GLS 63 Base 4MATIC   $95,990
...                                         ...        ...
2424    2021 Mercedes-Benz E-Class E 450 4MATIC   $53,490
2425          2022 Mercedes-Benz S-Class 4MATIC   $89,599
2426     2021 Mercedes-Benz GLB 250 Base 4MATIC   $32,890
2427    2023 Mercedes-Benz E-Class E 450 4MATIC   $53,983
2428            2023 Mercedes-Benz GLA 250 Base   $46,035

[2429 rows x 2 columns]

In [13]:
df["Name"]

0         2021 Mercedes-Benz A-Class A 220 4MATIC
1               2022 Mercedes-Benz AMG SL 63 Base
2               2022 Mercedes-Benz AMG SL 63 Base
3         2020 Mercedes-Benz AMG E 53 Base 4MATIC
4       2021 Mercedes-Benz AMG GLS 63 Base 4MATIC
                          ...
2424      2021 Mercedes-Benz E-Class E 450 4MATIC
2425            2022 Mercedes-Benz S-Class 4MATIC
2426       2021 Mercedes-Benz GLB 250 Base 4MATIC
2427      2023 Mercedes-Benz E-Class E 450 4MATIC
2428              2023 Mercedes-Benz GLA 250 Base
Name: Name, Length: 2429, dtype: object

In [16]:
names= df["Name"]

In [17]:
names

0         2021 Mercedes-Benz A-Class A 220 4MATIC
1               2022 Mercedes-Benz AMG SL 63 Base
2               2022 Mercedes-Benz AMG SL 63 Base
3         2020 Mercedes-Benz AMG E 53 Base 4MATIC
4       2021 Mercedes-Benz AMG GLS 63 Base 4MATIC
                          ...
2424      2021 Mercedes-Benz E-Class E 450 4MATIC
2425            2022 Mercedes-Benz S-Class 4MATIC
2426       2021 Mercedes-Benz GLB 250 Base 4MATIC
2427      2023 Mercedes-Benz E-Class E 450 4MATIC
2428              2023 Mercedes-Benz GLA 250 Base
Name: Name, Length: 2429, dtype: object

In [19]:
names[0]

'2021 Mercedes-Benz A-Class A 220 4MATIC'

In [20]:
names[1:4]

1          2022 Mercedes-Benz AMG SL 63 Base
2          2022 Mercedes-Benz AMG SL 63 Base
3    2020 Mercedes-Benz AMG E 53 Base 4MATIC
Name: Name, dtype: object

In [22]:
names[[1,2,4]]

1            2022 Mercedes-Benz AMG SL 63 Base
2            2022 Mercedes-Benz AMG SL 63 Base
4    2021 Mercedes-Benz AMG GLS 63 Base 4MATIC
Name: Name, dtype: object

In [23]:
first_name= df.loc[0, "Name"]

In [24]:
first_name

'2021 Mercedes-Benz A-Class A 220 4MATIC'

In [26]:
first_row = df.loc[0,:]

In [27]:
first_row

Name            2021 Mercedes-Benz A-Class A 220 4MATIC
Mileage                                      29,636 mi.
Rating                                              3.9
Review Count                                      1,800
Price                                          $30,900
Name: 0, dtype: object

In [28]:
slice_one =df.loc[0:2, "Name" : "Review Count"]

In [29]:
slice_one

                                      Name     Mileage  Rating Review Count
0  2021 Mercedes-Benz A-Class A 220 4MATIC  29,636 mi.     3.9        1,800
1        2022 Mercedes-Benz AMG SL 63 Base   5,540 mi.     4.7        1,239
2        2022 Mercedes-Benz AMG SL 63 Base   4,890 mi.     4.7        1,239

In [30]:
slice_two = df.loc[[0,2,3], ["Name","Review Count"]]

In [31]:
slice_two

                                      Name Review Count
0  2021 Mercedes-Benz A-Class A 220 4MATIC        1,800
2        2022 Mercedes-Benz AMG SL 63 Base        1,239
3  2020 Mercedes-Benz AMG E 53 Base 4MATIC          752

In [34]:
df.Rating.mean()

4.533723653395785

In [35]:
avg_Rating=df.Rating.mean()

In [36]:
avg_Rating

4.533723653395785

In [37]:
Rating =df["Rating"].max()

In [38]:
Rating

5.0

In [39]:
summary_df=df.describe()

In [41]:
summary_df

            Rating
count  2135.000000
mean      4.533724
std       0.386506
min       2.100000
25%       4.400000
50%       4.600000
75%       4.800000
max       5.000000

In [42]:
summary_df=df.describe()

In [44]:
summary_df[["Rating"]]

            Rating
count  2135.000000
mean      4.533724
std       0.386506
min       2.100000
25%       4.400000
50%       4.600000
75%       4.800000
max       5.000000

In [45]:
df["Price"].value_counts()

Price
$41,990     9
$46,900     7
$43,777     7
$48,000     7
$49,988     6
           ..
$47,308     1
$47,305     1
$42,574     1
$38,599     1
$46,035     1
Name: count, Length: 1941, dtype: int64

In [49]:
df["Price"].unique()

array(['$30,900 ', '$139,999 ', '$132,999 ', ..., '$89,599 ', '$32,890 ',
       '$46,035 '], dtype=object)

In [50]:
unique_values=df["Price"].unique()

In [51]:
unique_values[0]

'$30,900 '

In [52]:
len(unique_values)

1941

In [53]:
df.shape

(2429, 5)

In [54]:
df.dtypes

Name             object
Mileage          object
Rating          float64
Review Count     object
Price            object
dtype: object

In [55]:
df.head()

,Name,Mileage,Rating,Review Count,Price
0,2021 Mercedes-Benz A-Class A 220 4MATIC,"29,636 mi.",3.9,"1,800","$30,900"
1,2022 Mercedes-Benz AMG SL 63 Base,"5,540 mi.",4.7,"1,239","$139,999"
2,2022 Mercedes-Benz AMG SL 63 Base,"4,890 mi.",4.7,"1,239","$132,999"
3,2020 Mercedes-Benz AMG E 53 Base 4MATIC,"29,746 mi.",4.8,752,"$58,587"
4,2021 Mercedes-Benz AMG GLS 63 Base 4MATIC,"32,631 mi.",5.0,"1,502","$95,990"

In [56]:
df["Rating"].mean()

4.533723653395785

In [57]:
df["new_column"]=1

In [58]:
df.head()

,Name,Mileage,Rating,Review Count,Price,new_column
0,2021 Mercedes-Benz A-Class A 220 4MATIC,"29,636 mi.",3.9,"1,800","$30,900",1
1,2022 Mercedes-Benz AMG SL 63 Base,"5,540 mi.",4.7,"1,239","$139,999",1
2,2022 Mercedes-Benz AMG SL 63 Base,"4,890 mi.",4.7,"1,239","$132,999",1
3,2020 Mercedes-Benz AMG E 53 Base 4MATIC,"29,746 mi.",4.8,752,"$58,587",1
4,2021 Mercedes-Benz AMG GLS 63 Base 4MATIC,"32,631 mi.",5.0,"1,502","$95,990",1

In [59]:
df["Rating_Percentage"]=df["Rating"]/36

In [60]:
df.head()

,Name,Mileage,Rating,Review Count,Price,new_column,Rating_Percentage
0,2021 Mercedes-Benz A-Class A 220 4MATIC,"29,636 mi.",3.9,"1,800","$30,900",1,0.108333
1,2022 Mercedes-Benz AMG SL 63 Base,"5,540 mi.",4.7,"1,239","$139,999",1,0.130556
2,2022 Mercedes-Benz AMG SL 63 Base,"4,890 mi.",4.7,"1,239","$132,999",1,0.130556
3,2020 Mercedes-Benz AMG E 53 Base 4MATIC,"29,746 mi.",4.8,752,"$58,587",1,0.133333
4,2021 Mercedes-Benz AMG GLS 63 Base 4MATIC,"32,631 mi.",5.0,"1,502","$95,990",1,0.138889

In [61]:
del df["Rating_Percentage"]

In [62]:
df.head()

,Name,Mileage,Rating,Review Count,Price,new_column
0,2021 Mercedes-Benz A-Class A 220 4MATIC,"29,636 mi.",3.9,"1,800","$30,900",1
1,2022 Mercedes-Benz AMG SL 63 Base,"5,540 mi.",4.7,"1,239","$139,999",1
2,2022 Mercedes-Benz AMG SL 63 Base,"4,890 mi.",4.7,"1,239","$132,999",1
3,2020 Mercedes-Benz AMG E 53 Base 4MATIC,"29,746 mi.",4.8,752,"$58,587",1
4,2021 Mercedes-Benz AMG GLS 63 Base 4MATIC,"32,631 mi.",5.0,"1,502","$95,990",1

In [63]:
df.drop(["new_column","Review Count"], axis=1, inplace=True)

In [73]:
df.head()

                                        Name  Rating      Price
0    2021 Mercedes-Benz A-Class A 220 4MATIC     3.9   $30,900
1          2022 Mercedes-Benz AMG SL 63 Base     4.7  $139,999
2          2022 Mercedes-Benz AMG SL 63 Base     4.7  $132,999
3    2020 Mercedes-Benz AMG E 53 Base 4MATIC     4.8   $58,587
4  2021 Mercedes-Benz AMG GLS 63 Base 4MATIC     5.0   $95,990

In [74]:
df["new_column"]=1

In [75]:
df.head()

                                        Name  Rating      Price  new_column
0    2021 Mercedes-Benz A-Class A 220 4MATIC     3.9   $30,900            1
1          2022 Mercedes-Benz AMG SL 63 Base     4.7  $139,999            1
2          2022 Mercedes-Benz AMG SL 63 Base     4.7  $132,999            1
3    2020 Mercedes-Benz AMG E 53 Base 4MATIC     4.8   $58,587            1
4  2021 Mercedes-Benz AMG GLS 63 Base 4MATIC     5.0   $95,990            1

In [76]:
df.drop("new_column", axis=1, inplace=True)

In [77]:
df

                                           Name  Rating      Price
0       2021 Mercedes-Benz A-Class A 220 4MATIC     3.9   $30,900
1             2022 Mercedes-Benz AMG SL 63 Base     4.7  $139,999
2             2022 Mercedes-Benz AMG SL 63 Base     4.7  $132,999
3       2020 Mercedes-Benz AMG E 53 Base 4MATIC     4.8   $58,587
4     2021 Mercedes-Benz AMG GLS 63 Base 4MATIC     5.0   $95,990
...                                         ...     ...        ...
2424    2021 Mercedes-Benz E-Class E 450 4MATIC     NaN   $53,490
2425          2022 Mercedes-Benz S-Class 4MATIC     4.5   $89,599
2426     2021 Mercedes-Benz GLB 250 Base 4MATIC     4.9   $32,890
2427    2023 Mercedes-Benz E-Class E 450 4MATIC     4.8   $53,983
2428            2023 Mercedes-Benz GLA 250 Base     4.5   $46,035

[2429 rows x 3 columns]

In [78]:
df["new_column"]=1

In [79]:
df

                                           Name  Rating      Price  new_column
0       2021 Mercedes-Benz A-Class A 220 4MATIC     3.9   $30,900            1
1             2022 Mercedes-Benz AMG SL 63 Base     4.7  $139,999            1
2             2022 Mercedes-Benz AMG SL 63 Base     4.7  $132,999            1
3       2020 Mercedes-Benz AMG E 53 Base 4MATIC     4.8   $58,587            1
4     2021 Mercedes-Benz AMG GLS 63 Base 4MATIC     5.0   $95,990            1
...                                         ...     ...        ...         ...
2424    2021 Mercedes-Benz E-Class E 450 4MATIC     NaN   $53,490            1
2425          2022 Mercedes-Benz S-Class 4MATIC     4.5   $89,599            1
2426     2021 Mercedes-Benz GLB 250 Base 4MATIC     4.9   $32,890            1
2427    2023 Mercedes-Benz E-Class E 450 4MATIC     4.8   $53,983            1
2428            2023 Mercedes-Benz GLA 250 Base     4.5   $46,035            1

[2429 rows x 4 columns]

In [80]:
df.drop("new_column", axis=1, inplace=False)

                                           Name  Rating      Price
0       2021 Mercedes-Benz A-Class A 220 4MATIC     3.9   $30,900
1             2022 Mercedes-Benz AMG SL 63 Base     4.7  $139,999
2             2022 Mercedes-Benz AMG SL 63 Base     4.7  $132,999
3       2020 Mercedes-Benz AMG E 53 Base 4MATIC     4.8   $58,587
4     2021 Mercedes-Benz AMG GLS 63 Base 4MATIC     5.0   $95,990
...                                         ...     ...        ...
2424    2021 Mercedes-Benz E-Class E 450 4MATIC     NaN   $53,490
2425          2022 Mercedes-Benz S-Class 4MATIC     4.5   $89,599
2426     2021 Mercedes-Benz GLB 250 Base 4MATIC     4.9   $32,890
2427    2023 Mercedes-Benz E-Class E 450 4MATIC     4.8   $53,983
2428            2023 Mercedes-Benz GLA 250 Base     4.5   $46,035

[2429 rows x 3 columns]

In [81]:
df

                                           Name  Rating      Price  new_column
0       2021 Mercedes-Benz A-Class A 220 4MATIC     3.9   $30,900            1
1             2022 Mercedes-Benz AMG SL 63 Base     4.7  $139,999            1
2             2022 Mercedes-Benz AMG SL 63 Base     4.7  $132,999            1
3       2020 Mercedes-Benz AMG E 53 Base 4MATIC     4.8   $58,587            1
4     2021 Mercedes-Benz AMG GLS 63 Base 4MATIC     5.0   $95,990            1
...                                         ...     ...        ...         ...
2424    2021 Mercedes-Benz E-Class E 450 4MATIC     NaN   $53,490            1
2425          2022 Mercedes-Benz S-Class 4MATIC     4.5   $89,599            1
2426     2021 Mercedes-Benz GLB 250 Base 4MATIC     4.9   $32,890            1
2427    2023 Mercedes-Benz E-Class E 450 4MATIC     4.8   $53,983            1
2428            2023 Mercedes-Benz GLA 250 Base     4.5   $46,035            1

[2429 rows x 4 columns]

In [83]:
df.drop([0,2], axis=0, inplace=False)

                                           Name  Rating      Price  new_column
1             2022 Mercedes-Benz AMG SL 63 Base     4.7  $139,999            1
3       2020 Mercedes-Benz AMG E 53 Base 4MATIC     4.8   $58,587            1
4     2021 Mercedes-Benz AMG GLS 63 Base 4MATIC     5.0   $95,990            1
5       2022 Mercedes-Benz AMG E 53 Base 4MATIC     4.7   $74,999            1
6             2022 Mercedes-Benz AMG SL 63 Base     4.7  $130,999            1
...                                         ...     ...        ...         ...
2424    2021 Mercedes-Benz E-Class E 450 4MATIC     NaN   $53,490            1
2425          2022 Mercedes-Benz S-Class 4MATIC     4.5   $89,599            1
2426     2021 Mercedes-Benz GLB 250 Base 4MATIC     4.9   $32,890            1
2427    2023 Mercedes-Benz E-Class E 450 4MATIC     4.8   $53,983            1
2428            2023 Mercedes-Benz GLA 250 Base     4.5   $46,035            1

[2427 rows x 4 columns]

In [84]:
df.sort_values(by = "Rating", inplace=True, ascending=True)

In [85]:
df.head()

                                    Name  Rating     Price  new_column
1910     2023 Mercedes-Benz GLB 250 Base     2.1  $44,990            1
1882     2021 Mercedes-Benz GLB 250 Base     2.1  $32,190            1
1448      2018 Mercedes-Benz AMG GT Base     2.1  $79,990            1
392   2023 Mercedes-Benz AMG GLA 35 Base     2.5  $44,999            1
1420  2022 Mercedes-Benz AMG GLA 45 Base     2.5  $46,098            1

In [91]:
df.sort_values(by=["Rating", "new_column"], inplace=True, ascending=[True, True])

In [92]:
df.head()

                                    Name  Rating     Price  new_column
1910     2023 Mercedes-Benz GLB 250 Base     2.1  $44,990            1
1882     2021 Mercedes-Benz GLB 250 Base     2.1  $32,190            1
1448      2018 Mercedes-Benz AMG GT Base     2.1  $79,990            1
392   2023 Mercedes-Benz AMG GLA 35 Base     2.5  $44,999            1
1420  2022 Mercedes-Benz AMG GLA 45 Base     2.5  $46,098            1

In [93]:
df_mercedes = pd.read_csv("mercedes.csv", index_col=0)

In [94]:
df.head()

                                    Name  Rating     Price  new_column
1910     2023 Mercedes-Benz GLB 250 Base     2.1  $44,990            1
1882     2021 Mercedes-Benz GLB 250 Base     2.1  $32,190            1
1448      2018 Mercedes-Benz AMG GT Base     2.1  $79,990            1
392   2023 Mercedes-Benz AMG GLA 35 Base     2.5  $44,999            1
1420  2022 Mercedes-Benz AMG GLA 45 Base     2.5  $46,098            1

In [95]:
df.dtypes

Name           object
Rating        float64
Price          object
new_column      int64
dtype: object

In [96]:
df.columns

Index(['Name', 'Rating', 'Price', 'new_column'], dtype='object')

In [98]:
df.rename(columns={"Price":"Approx_Price"},inplace=False)

,Name,Rating,Approx_Price,new_column
1910,2023 Mercedes-Benz GLB 250 Base,2.1,"$44,990",1
1882,2021 Mercedes-Benz GLB 250 Base,2.1,"$32,190",1
1448,2018 Mercedes-Benz AMG GT Base,2.1,"$79,990",1
392,2023 Mercedes-Benz AMG GLA 35 Base,2.5,"$44,999",1
1420,2022 Mercedes-Benz AMG GLA 45 Base,2.5,"$46,098",1
...,...,...,...,...
2367,2021 Mercedes-Benz A-Class,NaN,"$31,995",1
2369,2021 Mercedes-Benz GLC 300 Base,NaN,"$33,850",1
2387,2019 Mercedes-Benz AMG GLC 43 Base 4MATIC,NaN,"$40,500",1
2391,2023 Mercedes-Benz G-Class G 550 4MATIC,NaN,"$152,986",1
2424,2021 Mercedes-Benz E-Class E 450 4MATIC,NaN,"$53,490",1

In [99]:
df.set_index("Name", inplace=True)

In [100]:
df.head()

                                    Rating     Price  new_column
Name
2023 Mercedes-Benz GLB 250 Base        2.1  $44,990            1
2021 Mercedes-Benz GLB 250 Base        2.1  $32,190            1
2018 Mercedes-Benz AMG GT Base         2.1  $79,990            1
2023 Mercedes-Benz AMG GLA 35 Base     2.5  $44,999            1
2022 Mercedes-Benz AMG GLA 45 Base     2.5  $46,098            1

In [101]:
df.loc["2023 Mercedes-Benz AMG GLA 35 Base", "Price"]

Name
2023 Mercedes-Benz AMG GLA 35 Base    $44,999
2023 Mercedes-Benz AMG GLA 35 Base    $50,384
2023 Mercedes-Benz AMG GLA 35 Base    $46,417
Name: Price, dtype: object

In [102]:
df.set_index("Rating", inplace=False)

            Price  new_column
Rating
2.1      $44,990            1
2.1      $32,190            1
2.1      $79,990            1
2.5      $44,999            1
2.5      $46,098            1
...           ...         ...
NaN      $31,995            1
NaN      $33,850            1
NaN      $40,500            1
NaN     $152,986            1
NaN      $53,490            1

[2429 rows x 2 columns]

In [103]:
df["Name"]=df.index

In [104]:
df.set_index("Rating", inplace=True)

In [105]:
df.head()

           Price  new_column                                Name
Rating
2.1     $44,990            1     2023 Mercedes-Benz GLB 250 Base
2.1     $32,190            1     2021 Mercedes-Benz GLB 250 Base
2.1     $79,990            1      2018 Mercedes-Benz AMG GT Base
2.5     $44,999            1  2023 Mercedes-Benz AMG GLA 35 Base
2.5     $46,098            1  2022 Mercedes-Benz AMG GLA 45 Base

In [106]:
df.reset_index(drop=False, inplace=True)

In [107]:
df.head()

   Rating     Price  new_column                                Name
0     2.1  $44,990            1     2023 Mercedes-Benz GLB 250 Base
1     2.1  $32,190            1     2021 Mercedes-Benz GLB 250 Base
2     2.1  $79,990            1      2018 Mercedes-Benz AMG GT Base
3     2.5  $44,999            1  2023 Mercedes-Benz AMG GLA 35 Base
4     2.5  $46,098            1  2022 Mercedes-Benz AMG GLA 45 Base

In [108]:
df_missing=pd.read_csv("mercedes.csv",na_values=["NaN", "not available"])

In [109]:
df_missing

,Name,Mileage,Rating,Review Count,Price
0,2021 Mercedes-Benz A-Class A 220 4MATIC,"29,636 mi.",3.9,"1,800","$30,900"
1,2022 Mercedes-Benz AMG SL 63 Base,"5,540 mi.",4.7,"1,239","$139,999"
2,2022 Mercedes-Benz AMG SL 63 Base,"4,890 mi.",4.7,"1,239","$132,999"
3,2020 Mercedes-Benz AMG E 53 Base 4MATIC,"29,746 mi.",4.8,752,"$58,587"
4,2021 Mercedes-Benz AMG GLS 63 Base 4MATIC,"32,631 mi.",5.0,"1,502","$95,990"
...,...,...,...,...,...
2424,2021 Mercedes-Benz E-Class E 450 4MATIC,"54,422 mi.",NaN,236,"$53,490"
2425,2022 Mercedes-Benz S-Class 4MATIC,"11,395 mi.",4.5,"1,334","$89,599"
2426,2021 Mercedes-Benz GLB 250 Base 4MATIC,"30,392 mi.",4.9,"2,375","$32,890"
2427,2023 Mercedes-Benz E-Class E 450 4MATIC,"3,413 mi.",4.8,"1,758","$53,983"
2428,2023 Mercedes-Benz GLA 250 Base,"6,336 mi.",4.5,"2,057","$46,035"

In [111]:
df_missing=pd.read_csv("mercedes.csv",na_values={"Rating" : "not available", "Mileage": -1})

In [112]:
df.head()

   Rating     Price  new_column                                Name
0     2.1  $44,990            1     2023 Mercedes-Benz GLB 250 Base
1     2.1  $32,190            1     2021 Mercedes-Benz GLB 250 Base
2     2.1  $79,990            1      2018 Mercedes-Benz AMG GT Base
3     2.5  $44,999            1  2023 Mercedes-Benz AMG GLA 35 Base
4     2.5  $46,098            1  2022 Mercedes-Benz AMG GLA 45 Base

In [113]:
df_missing=pd.read_csv("mercedes.csv", na_values=["NaN","not available"])

In [114]:
df_missing

,Name,Mileage,Rating,Review Count,Price
0,2021 Mercedes-Benz A-Class A 220 4MATIC,"29,636 mi.",3.9,"1,800","$30,900"
1,2022 Mercedes-Benz AMG SL 63 Base,"5,540 mi.",4.7,"1,239","$139,999"
2,2022 Mercedes-Benz AMG SL 63 Base,"4,890 mi.",4.7,"1,239","$132,999"
3,2020 Mercedes-Benz AMG E 53 Base 4MATIC,"29,746 mi.",4.8,752,"$58,587"
4,2021 Mercedes-Benz AMG GLS 63 Base 4MATIC,"32,631 mi.",5.0,"1,502","$95,990"
...,...,...,...,...,...
2424,2021 Mercedes-Benz E-Class E 450 4MATIC,"54,422 mi.",NaN,236,"$53,490"
2425,2022 Mercedes-Benz S-Class 4MATIC,"11,395 mi.",4.5,"1,334","$89,599"
2426,2021 Mercedes-Benz GLB 250 Base 4MATIC,"30,392 mi.",4.9,"2,375","$32,890"
2427,2023 Mercedes-Benz E-Class E 450 4MATIC,"3,413 mi.",4.8,"1,758","$53,983"
2428,2023 Mercedes-Benz GLA 250 Base,"6,336 mi.",4.5,"2,057","$46,035"

In [116]:
df.isnull()

      Rating  Price  new_column   Name
0      False  False       False  False
1      False  False       False  False
2      False  False       False  False
3      False  False       False  False
4      False  False       False  False
...      ...    ...         ...    ...
2424    True  False       False  False
2425    True  False       False  False
2426    True  False       False  False
2427    True  False       False  False
2428    True  False       False  False

[2429 rows x 4 columns]

In [117]:
df.isnull().sum()

Rating        294
Price           0
new_column      0
Name            0
dtype: int64

In [118]:
df_missing.dropna(axis=0, inplace=False)

,Name,Mileage,Rating,Review Count,Price
0,2021 Mercedes-Benz A-Class A 220 4MATIC,"29,636 mi.",3.9,"1,800","$30,900"
1,2022 Mercedes-Benz AMG SL 63 Base,"5,540 mi.",4.7,"1,239","$139,999"
2,2022 Mercedes-Benz AMG SL 63 Base,"4,890 mi.",4.7,"1,239","$132,999"
3,2020 Mercedes-Benz AMG E 53 Base 4MATIC,"29,746 mi.",4.8,752,"$58,587"
4,2021 Mercedes-Benz AMG GLS 63 Base 4MATIC,"32,631 mi.",5.0,"1,502","$95,990"
...,...,...,...,...,...
2423,2020 Mercedes-Benz AMG GT 53 Base,"36,814 mi.",4.7,"1,424","$75,577"
2425,2022 Mercedes-Benz S-Class 4MATIC,"11,395 mi.",4.5,"1,334","$89,599"
2426,2021 Mercedes-Benz GLB 250 Base 4MATIC,"30,392 mi.",4.9,"2,375","$32,890"
2427,2023 Mercedes-Benz E-Class E 450 4MATIC,"3,413 mi.",4.8,"1,758","$53,983"
2428,2023 Mercedes-Benz GLA 250 Base,"6,336 mi.",4.5,"2,057","$46,035"

In [119]:
df_missing.fillna(0, inplace=False)

,Name,Mileage,Rating,Review Count,Price
0,2021 Mercedes-Benz A-Class A 220 4MATIC,"29,636 mi.",3.9,"1,800","$30,900"
1,2022 Mercedes-Benz AMG SL 63 Base,"5,540 mi.",4.7,"1,239","$139,999"
2,2022 Mercedes-Benz AMG SL 63 Base,"4,890 mi.",4.7,"1,239","$132,999"
3,2020 Mercedes-Benz AMG E 53 Base 4MATIC,"29,746 mi.",4.8,752,"$58,587"
4,2021 Mercedes-Benz AMG GLS 63 Base 4MATIC,"32,631 mi.",5.0,"1,502","$95,990"
...,...,...,...,...,...
2424,2021 Mercedes-Benz E-Class E 450 4MATIC,"54,422 mi.",0.0,236,"$53,490"
2425,2022 Mercedes-Benz S-Class 4MATIC,"11,395 mi.",4.5,"1,334","$89,599"
2426,2021 Mercedes-Benz GLB 250 Base 4MATIC,"30,392 mi.",4.9,"2,375","$32,890"
2427,2023 Mercedes-Benz E-Class E 450 4MATIC,"3,413 mi.",4.8,"1,758","$53,983"
2428,2023 Mercedes-Benz GLA 250 Base,"6,336 mi.",4.5,"2,057","$46,035"

In [121]:
mean_Rating=df_missing.Rating.mean()

In [122]:
df_missing.fillna({'Rating': mean_Rating}, inplace=False)

,Name,Mileage,Rating,Review Count,Price
0,2021 Mercedes-Benz A-Class A 220 4MATIC,"29,636 mi.",3.900000,"1,800","$30,900"
1,2022 Mercedes-Benz AMG SL 63 Base,"5,540 mi.",4.700000,"1,239","$139,999"
2,2022 Mercedes-Benz AMG SL 63 Base,"4,890 mi.",4.700000,"1,239","$132,999"
3,2020 Mercedes-Benz AMG E 53 Base 4MATIC,"29,746 mi.",4.800000,752,"$58,587"
4,2021 Mercedes-Benz AMG GLS 63 Base 4MATIC,"32,631 mi.",5.000000,"1,502","$95,990"
...,...,...,...,...,...
2424,2021 Mercedes-Benz E-Class E 450 4MATIC,"54,422 mi.",4.533724,236,"$53,490"
2425,2022 Mercedes-Benz S-Class 4MATIC,"11,395 mi.",4.500000,"1,334","$89,599"
2426,2021 Mercedes-Benz GLB 250 Base 4MATIC,"30,392 mi.",4.900000,"2,375","$32,890"
2427,2023 Mercedes-Benz E-Class E 450 4MATIC,"3,413 mi.",4.800000,"1,758","$53,983"
2428,2023 Mercedes-Benz GLA 250 Base,"6,336 mi.",4.500000,"2,057","$46,035"